.home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    min-height: 100vh;
    padding: 7rem;
    
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-ligth, 0.8),
      rgba($color-primary-dark, 0.8) /* o 0.8 fica responsavel pela opacidade*/
    );

    &__body{
        padding: 0;
    }
  
    &__logobox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 30vw;
  
    }
  
    &__logo{
      height: 7rem; 
    }
  
    &__login{
      text-transform: uppercase;
      text-decoration: none;
      color: $color-tertiary-dark;
    }
  
    &__button--group{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.5rem;
    }
  
    &__logos{
      height: 2rem;
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        gap: 7rem;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;  
        align-items:stretch;
    }

    &__add{

        &--card{
            background-color: #fff;
            width: 18rem;
            display: flex;
            
        }

        &--img{
            height: 20rem;
        }

    }
  
  }